.login{
    background-color: $body-bg-color;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', 'Segoe UI', arial;
}
.login-brand {
    margin: 20px 0;
    margin-bottom: 40px;
    // font-size: 24px;
    // text-transform: uppercase;
    // letter-spacing: 4px;
    // color: #666;
    // text-align: center;
}