.gallery-documents{

    .gallery-item{
        margin: 2.5% auto;
        width: 6rem;
        height: 6rem;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.1);
        position: relative;

        .image-document{
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: inherit;
            height: inherit;
            color:  rgba(red,0.8);
        }
        .document-name{
            font-size: 10px;
            margin:0.355rem 0.255rem;
            text-align: center;
        }
        .image-cancel, 
        .link-document{
            display: flex;
            position: absolute;
            width: inherit;
            color: white;
            cursor: pointer;
        }
        .image-cancel{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: rgba(0,0,0,0.25);
            height: 1.5rem;
            justify-content: center;
            align-items: center;
            bottom: 0;

            &:hover{
                background-color: rgba(red,0.7);
            }
        }
        .link-document{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 4.5rem;
            justify-content: end;
            text-decoration: none;
            bottom: 1.5rem;
            .fas{
                margin: 0.75rem;
                color: rgba(#000000, 0.65);
                font-size: 1.5em;
            }

            &:hover{
                background-color: rgba(rgb(21, 81, 138),0.35);
                .fas{
                    color: white;
                }
            }
        }
        
    }

    @media(max-width:767.98px){
        .gallery-item{
            width: 4rem;
            height: 4rem;
            
            .image-document{
                font-size: 1.5rem;
            }
            .link-document{
                height: 2.5rem;
                .fas{
                    margin: 0.55rem;
                    font-size: 1rem;
                }
            }

        }
    }
}