.map {
    // width: 100vh;
    // height: auto;
    height: 55vh;
    position: relative;

    .info{
        position: absolute;
        z-index: 99999;
        bottom: 0;
        margin-left: 0.75rem;
    }
}
@media(max-width:767.98px){
    .map{
        height: 45.5vh;
    }
}