// Masks
// General properties
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
    }
}