
.input-group-prepend{
    display: flex;
    margin-right: 1px;
    flex-wrap: wrap;
    flex-direction: row;
}
#phone_numbers{
    min-width: 150px;
}
#phone_group > #phone_bagde > #delete_phone {
    margin-left: 2.5px;
    color: red;
    cursor: pointer;
}