//Colores
//Primarios
$blue-700: #344955;
$blue-800: #232f34;
$blue-600: #4a6572;
// Secundarios
// $orange-500: #f9aa33;
$white: #ffffff;

// New grays
$fiord-blue:   #3D5170 !default;
$shuttle-gray: #5A6169 !default;
$reagent-gray: #818EA3 !default;
// $mischka:      #CACEDB !default;
// $athens-gray:  #E9ECEF !default;
$light-gray: #e1e5eb !default;
$body-bg-color:  #F5F6F8 !default;

// Fonts
$font-family-system-first: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

//Border
$border-radius:0.24.5rem;

// Main Navbar
$main-navbar-background-color: $white !default;
$main-navbar-height: 3.75rem !default;
$main-navbar-nav-link-min-width: 3.75rem !default;
$main-navbar-nav-link-padding: 1.07rem !default;
$main-navbar-nav-border-color: $light-gray solid .05px;
$main-navbar-box-shadow: 0 0.125rem 0.6825rem rgba($shuttle-gray,.3) !default;
$main-navbar-brand-font-size: 1.1rem !default;
$main-navbar-nav-link-icon-line-height: 2.5rem !default;

//  Main Navbar -> Notifications
$notifications-badge-padding-x: 0.375rem !default;
$notifications-badge-padding-y: 0.25rem !default;
$notifications-badge-font-size: 0.55rem !default;
$notification-dropdown-menu-box-shadow:0 0.5rem 0.625rem rgba($shuttle-gray,0.4) !default;
$notifications-dropdown-min-width-notification: 23rem !default;
$notifications-dropdown-min-width-option: 13rem !default;
$notifications-dropdown-item-padding-top: 0.625rem !default;
$notifications-dropdown-item-padding-bottom: 0.625rem !default;

// Main Navbar -> Icon
$notifications-icon-background-color: $light-gray !default;
$notifications-icon-box-shadow: 0 0 0.2rem 1px $shuttle-gray;
$notifications-icon-width: 2.1875rem !default;
$notifications-icon-height: 2.1875rem !default;
$notifications-icon-color: $fiord-blue !default;
$notifications-icon-line-height: 2.0625rem !default;
$notifications-icon-font-size: 1.0625rem !default;

//Main Navbar -> content
$notification-content-padding: 0 0.625rem !default;
$notification-content-paragraph-font-size: 0.75rem !default;

//Main Navbar -> category
$notification-category-font-size: 0.5625rem !default;
$notification-category-color:$fiord-blue !default;
$notification-category-letter-spacing: 0.0938rem !default;

//Main Navabar -> avatar
$user-avatar-max-width: 2.5rem!default;
$user-avatar-max-height: 2.5rem !default;
$user-avatar-box-shadow: $main-navbar-box-shadow;


// Main sidebar
$main-sidebar-height: calc(100vh) !default;
$main-sidebar-zindex: 1070 !default;
$main-sidebar-background: $white !default;
$main-sidebar-side-shadow: 0 0.125rem 9.375rem rgba($shuttle-gray,.3) !default;
$main-sidebar-transition: transform 200ms ease-in-out !default;

//Main Sidebar -> toggle
$main-sidebar-toggle-font-size: 1.25rem !default;
$main-sidebar-toggle-padding: 1rem !default;
$main-sidebar-toggle-border-left: $light-gray solid .05px !default;

//Main Sidebar -> nav-wrapper
$main-sidebar-nav-wrapper-height: calc(100vh - 3.75rem - 1px) !default;

//Main Sidebar -> menu
$main-sidebar-menu-header-font-size:10px;
$main-sidebar-menu-header-letter-spacing:1.3px;
$main-sidebar-menu-header-font-weight:600;
$main-sidebar-menu-header-padding:0.5rem;
$main-sidebar-menu-header-color:$white;
$main-sidebar-menu-header-background-color:$reagent-gray;

//Main Sidebar -> nav-link
$main-sidebar-nav-link-font-family: $font-family-system-first !default;
$main-sidebar-nav-link-transition: box-shadow 200ms ease,color 200ms ease,background-color 200ms ease !default;
$main-sidebar-nav-link-font-size: 0.85rem !default;
$main-sidebar-nav-link-border: $light-gray solid .05px;
$main-sidebar-nav-link-font-weight: 400 !default;
$main-sidebar-nav-link-color: $shuttle-gray !default;
$main-sidebar-nav-link-padding-x: 1.5625rem !default;
$main-sidebar-nav-link-padding-y: 0.9375rem !default;

//Main Sidebar -> nav-link-icon
$main-sidebar-nav-link-icon-color: $shuttle-gray !default;
$main-sidebar-nav-link-icon-transition: color 200ms ease !default;
$main-sidebar-nav-link-icon-margin-right: 0.375rem !default;

//Main Sidebar -> nav-link-active
$main-sidebar-nav-link-active-box-shadow: inset 0.1875rem 0 0 $fiord-blue !default;
$main-sidebar-nav-link-active-background-color: $light-gray !default;
$main-sidebar-nav-link-active-color: $fiord-blue !default;
$main-sidebar-nav-link-active-icon-color: $fiord-blue !default;

//Main content 
$main-content-background-color: $body-bg-color;

//Main content --> Page Header
$page-title-font-size: 1.625rem !default;
$page-title-sm-font-size: 2rem !default;
$page-title-font-weight: 500 !default;
$page-title-line-height: 1 !default;
$page-title-margin: 0 !default;
$page-title-padding: 0 !default;
$page-title-color: $fiord-blue !default;

//Main content -> subtitle
$page-subtitle-letter-spacing: 0.125rem !default;
$page-subtitle-color: $blue-800 !default;
$page-subtitle-font-size: 0.625rem !default;
$page-subtitle-font-size-sm: 0.8125rem !default;
$page-subtitle-font-weight-sm: 400 !default;

//Main footer
$main-footer-height: $main-navbar-height !default;
$main-footer-copyright-color: $blue-800 !default;

// Components -> Card Post
$card-post-padding-x: 1.5625rem !default;
$card-post-padding-y: 2.1875rem !default;
$card-post-padding: $card-post-padding-y $card-post-padding-x !default;

$card-post-image-min-height: 10.3125rem !default;

$card-post-date-bottom: 0.125rem !default;

$card-post-name-bottom: 1.8125rem !default;

$card-post-date-name-padding: 0.125rem !default;
$card-post-date-name-rigth: 1.5625rem !default;

$card-post-category-top: 0.9375rem !default;             // 15px
$card-post-category-right: 0.9375rem !default;           // 15px

$card-post-author-transform: translateY(50%) !default;
$card-post-author-margin-left: 1.5625rem !default;       // 25px
$card-post-author-avatar-width: 3.125rem !default;        // 45px
$card-post-author-avatar-height: 3.125rem !default;       // 45px
$card-post-author-avatar-box-shadow: $main-navbar-box-shadow;
