//Colores
//Primarios
$blue-700: #344955;
$blue-800: #232f34;
$blue-600: #4a6572;
// Secundarios
// $orange-500: #f9aa33;
$white: #ffffff;

// New grays
$fiord-blue:   #3D5170 !default;
$shuttle-gray: #5A6169 !default;
$reagent-gray: #818EA3 !default;
// $mischka:      #CACEDB !default;
// $athens-gray:  #E9ECEF !default;
$light-gray: #e1e5eb !default;
// $body-color:  #F5F6F8 !default;

//Border
$border-radius:0.24.5rem;